@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* #Basic Styles
================================================== */
body {
    background: #fff;
    @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
    font: 14px/21px;
    font-family: 'Montserrat', sans-serif;                    
    color: #444;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}
/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
    color: #181818;
    font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
h5 { font-size: 17px; line-height: 24px; }
h6 { font-size: 14px; line-height: 21px; }

p { margin: 0 0 20px 0; }
p img { margin: 0; }

em { font-style: italic; }
strong { font-weight: bold; color: #333; }
small { font-size: 80%; }
/* Blockquotes */
blockquote, blockquote p { font-size: 14px; line-height: 24px; color: #777; font-style: italic; }
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }
hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }
/* #Links
================================================== */
a, a:visited { color: #333; text-decoration: underline; outline: 0; }
a:hover, a:focus { color: #000; }
p a, p a:visited { line-height: inherit; }
/* #Lists
================================================== */
ul, ol { margin-bottom: 20px; }
ul { list-style: none outside; }
ol { list-style: decimal; }

ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%; }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
li { line-height: 18px; margin-bottom: 12px; }
ul.large li { line-height: 21px; }
li p { line-height: 21px; }
section li {list-style: square outside; }
section ul {padding-left: 40px; }
/* #Images
================================================== */
/* #Buttons
================================================== */
.button,.button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    background: #f05a28;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 20px;
    line-height: normal;
    padding: 8px 10px;
    font-family: Montserrat, sans-serif; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    color: #fff;
    background: #000;
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/* #Forms
================================================== */
form {
    margin-bottom: 20px; }
fieldset {
    margin-bottom: 20px; }
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px Montserrat, sans-serif;
    color: #777;
    width: 210px;
    max-width: 100%;
    display: block;
    margin: 0 0 20px;
    background: #fff; }
select {
    padding: 0; }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #aaa;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow: 0 0 3px rgba(0,0,0,.2); }
textarea {
    min-height: 60px; }
label,
legend {
    display: block;
    font-weight: bold;
    font-size: 13px; }
select {
    width: 220px; }
input[type="checkbox"] {
    display: inline; }
label span,
legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444; }
/* #Misc
================================================== */

/* Documentation Styles
================================================== */

body{
    padding-top: 60px;
}

div.container {
    /*padding-top: 60px;*/
    font-family: 'Montserrat', sans-serif;
}

/* Doc nav */
nav {
    position: fixed;
    width: 160px;
    border-top:solid 8px;
    padding-top:20px;

}
#logo {
    margin-bottom: 20px;
    letter-spacing: -1px;
    font-weight: bold; }
nav ul {
    float: left;  }
nav ul li {
    display: block;
    margin-bottom: 10px; }
nav ul li a,
nav ul li a:visited,
nav ul li a:active  {
    font-size: 14px;
    color: #555;
    text-decoration: none;
    font-weight: bold; }
nav ul li a:hover,
nav ul li a:focus {
    color: #222; }
header h1 {
    font-size: 52px;
    line-height: 47px;
    letter-spacing: -2px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase; }

h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
}

h2{
    letter-spacing:-1px;
    margin-top:30px;
}

h3{
    margin-bottom:20px;
    text-transform:uppercase;
}



.container ul {
    padding-left: 20px;
    list-style: square outside none;
}

.list {
    padding-left: 20px;
}

#localizacion + p, #localizacion + p + p, #localizacion + p + p + p {
    list-style: square outside none;
    display:list-item;
    margin: 5px 5px 5px 20px;

}

.container ul li {
    padding-left: 10px;
}

hr.large {
    border: none;
    height: 8px;
    background: #ebebeb;
    margin: 50px 0; }



table {
    width: 100%;
}

td, th {
    background: #f05a28;
    padding: 20px;
    color: #ffffff;
    text-align: center;
}

th + th {
    border-left: solid 1px #efefef;
}



td {
    width: 140px;
    vertical-align: middle;
    border-right: solid 1px #efefef;
    border-bottom:solid 1px #fff;

}

td + td {
    width: auto;
    background:#efefef;
    padding:20px;
    color: #444;
    text-align: left;
    border-right: 0;
}




article h2, article h4 {
    text-align: center;
}

article h2 {
    text-transform: uppercase;
}

article a, article a:hover, article a:visited{
    text-decoration: underline;
}


img {
    max-width: 100%;
    height: auto; }

pre {
    margin: 0 0 20px; padding: 9px 20px 0 19px;  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}


ul ul ul li { margin-bottom: 3px; }

.twitter-share-button { margin-bottom: -18px; }


.right {
    text-align: right;
}

.left {
    text-align: left;
}


.imgLeft {
    float: left;
    border-right: solid 1px darkgray;
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}





footer .container{
    padding:20px 0 10px 0;
}
footer{
	background:#f05a28;
	color:#fff;
}

footer a, footer a:hover, footer a:visited{
    color: #fff;
    text-decoration: underline;
}

ul.horizontal{
    text-align:center;
}
ul.horizontal li{
    display:inline;
    padding:0 5px;
}
header h2{
    margin-bottom:40px;
}


@media only screen and (max-width: 767px) {
    header h1 {
    font-size: 27px;
    line-height: 37px;
    }
}

a:hover, a:visited, a {
    text-decoration: none;
}

.destacado {
    text-align: center;

}

.destacado h1 a {
    color: #f05a28;
}

.destacado h1 a:link {
    color: #f05a28;
    text-decoration: none;
}

.destacado h1 a:visited {
    color: #f05a28;
    text-decoration: none;
}

.destacado h1 a:hover {
    color: #000;
    text-decoration: none;
}