/* fuentes */
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Regular-webfont.woff') format('woff'),
    url('Roboto-Regular-webfont.ttf') format('truetype'),
    url('Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold-webfont.eot');
    src: url('Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Bold-webfont.woff') format('woff'),
    url('Roboto-Bold-webfont.ttf') format('truetype'),
    url('Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

html {
    overflow-x: hidden;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    margin: 0;
    padding: 0;
    border: 0;
    color: #777;
}

h1 {
    color: #fff;
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 250px;
}

h2 {
    font-size: 34px;
    color: #f05a28;
    margin: 0 0 15px 0;
    padding: 0;
}

h3 {
    font-size: 20px;
    color: #999;
    margin: 0;
    padding: 5px;
}

ul li {
    line-height: 18px;
    padding-bottom: 15px;
}

.logo {

}

header {
    margin: 20px 0;
}

header {
    text-align: center;
}

.intensas {
    color: #EA5C2C;
    font-size: 17px;
    font-weight: bold;
}

.lugar {
    font-weight: bold;
}

.image2 {
    position: relative;
    background: url('../images/fondo2.jpg') no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 360px;
    box-shadow: inset 0 8px 8px -6px #614940;
}

.image3 {
    position: relative;
    background: url('../images/fondo3.jpg') no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 330px;
    box-shadow: inset 0 8px 8px -6px #614940;
}

.image4 {
    position: relative;
    background: url('../images/fondo4.jpg') no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 310px;
    box-shadow: inset 0 8px 8px -6px #614940;
}

.image5 {
    position: relative;
    background: url('../images/fondo1.jpg') no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px;
    box-shadow: inset 0 8px 8px -6px #614940;
}

.content {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    background: #FFF;
    z-index: 2;
    padding-bottom: 20px;
}

.contenedor_1 {
    text-align: center;
}

.contenedor_2 {
    text-align: center;
    padding: 20px;
}

.contenedor_3 {
    padding: 20px;
}

.horario {
    font-size: 16px;
    font-weight: 400;
    color: #f05a28;
}

@media only screen and (min-width: 960px) {
    #franja_programa {
        width: 960px;
        margin: 0 auto;
        font-size: 18px;
        color: #fff;
        padding-top: 50px;
    }
}

@media (max-width: 959px) and (min-width: 320px) {
    #franja_programa {
        width: 100%;
        float: left;
        font-size: 18px;
        color: #fff;
        padding-top: 50px;
    }
}

@media only screen and (min-width: 960px) {
    .ficha_programa {
        width: 33%;
        float: left;
        text-align: center;
    }
}

@media (max-width: 959px) and (min-width: 320px) {
    .ficha_programa {
        width: 100%;
        float: left;
        text-align: center;
        padding-bottom: 30px;
    }
}


table {
    width: 100%;
    border-collapse: separate;
}

.horario th, .horario td {
    background: #f05a28;
    color: #ffffff;
    font-weight:bold;
    text-align: center;
    vertical-align: middle;
    padding: 10px 5px;
}

.horario td + td {
    background: #ececec;
    color: #000;
    font-weight:normal;
    padding: 5px;
}



.orange:link {
    color: #f05a28;
    font-weight: 700;
    text-decoration: none;
    padding: 2px 5px;
    transition: all 0.15s linear 0s;
}

.orange:visited {
    color: #f05a28;
    font-weight: 700;
    text-decoration: none;
    padding: 2px 5px;
    transition: all 0.15s linear 0s;
}

.orange:hover {
    color: #fff;
    background: #f05a28;
    font-weight: 700;
    padding: 2px 5px;
    text-decoration: none;
}

.enlace_blanco:link {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    padding: 2px 5px;
    transition: all 0.15s linear 0s;
}

.enlace_blanco:visited {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    padding: 2px 5px;
    transition: all 0.15s linear 0s;
}

.enlace_blanco:hover {
    color: #5F4940;
    background: #fff;
    font-weight: 700;
    padding: 2px 5px;
    text-decoration: none;
}

.content_naranja {
    width: 100%;
    float: left;
    background: #ffffff;
    color: #222;
    z-index: 2;
    text-align: center;
}

@media only screen and (min-width: 960px) {
    #pieweb {
        width: 960px;
        margin: 0 auto;
    }
}

@media (max-width: 959px) and (min-width: 320px) {
    #pieweb {
        width: 100%;
        float: left;
    }
}

#enlaces_pie {
    width: 100%;
    float: left;
    margin-top: 20px;
    color: #CECECE;
}

@media only screen and (min-width: 960px) {
    .ficha_enlacepie {
        width: 25%;
        float: left;
        text-align: center;
    }
}

@media (max-width: 959px) and (min-width: 640px) {
    .ficha_enlacepie {
        width: 50%;
        float: left;
        text-align: center;
    }
}

@media (max-width: 639px) and (min-width: 320px) {
    .ficha_enlacepie {
        width: 100%;
        float: left;
        text-align: center;
    }
}

.titulo_charla {
    font-size: 16px;
}

.descripcioncharla {
    color: #888;
}

.gris {
    color: #82BEBF;
    font-style: italic;
    font-size: 14px;
}

li a:link {
    color: #2A90AF;
    text-decoration: none;
}

li a:visited {
    color: #2A90AF;
    text-decoration: none;
}

li a:hover {
    color: #2A90AF;
    text-decoration: underline;
}

/*---------- Estilo tabla datos identificativos ------------*/

#tabla_datos {
    padding: 10px 0 15px 0;
    width: 680px;
}

.borde_tabla {
    padding: 8px 5px;
    border-bottom: 1px dotted #ccc;
}

/*--------------------------------------------------------*/
