language: ruby
env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
install:
  - gem install jekyll
  - gem install html-proofer
script:
  - jekyll build
  - htmlproof _site --href-ignore http://localhost:4000,http://linkedin.com/in/*,https://www.andaluciacompromisodigital.org/*