---
layout: portada
title: HackLab Almería
---
<p><strong>HackLab Almería</strong> somos un colectivo de <strong>experimentación</strong> <strong>tecnológica</strong>, <strong>social</strong> y <strong>creativa</strong>.

<div class="container">
    <div class="three columns offset-by-one sidebar">
        <a href="{{ site.url }}/actividades" title="Agenda de actividades"><img src="{{ site.url }}/recursos/agenda.png" title="Agenda" alt="Agenda" /></a>
    </div>
    <div class="ten columns offset-by-one">
        <h3>Actividades</h3>
        <p>Estamos abiertos a colaborar con entidades que compartan las mismas inquietudes e invitamos a todas las personas entusiastas y activas a unirse a HackLab, aportando proyectos, recursos, información y formación.</p>
        <h5><strong>Próximos eventos</strong></h5>
        {% assign curDate = site.time | date: '%s' %}
        <ul>
            {% for post in site.posts reversed %}
            {% assign date = post.date | date: '%s' %}
            {% if date >= curDate %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        <p><a href="{{ site.url }}/actividades" class="button">Ver las actividades</a></p>
    </div>
</div>

<div class="container">
    <div class="three columns offset-by-one sidebar">
        <a href="{{ site.url }}/gruposdetrabajo" title="Grupos de trabajo"><img src="{{ site.url }}/recursos/comunidades.png" title="Comunidades" alt="Comunidades" /></a>
    </div>
    <div class="ten columns offset-by-one">
        <h3>Hacklab Almería</h3>
        <p>En HackLab todos nos nutrimos de todos, compartiendo información e ideas. Es el lugar perfecto donde experimentar y hacer realidad proyectos nuevos por medio de grupos de trabajo, poniendo en contacto a expertos en diferentes materias.</p>
        <p><a href="{{ site.url }}/gruposdetrabajo" class="button" title="Grupos de trabajo">Grupos de trabajo</a></p>
    </div>
</div>

<div class="container">
    <div class="three columns offset-by-one sidebar">
        <a href="http://discourse.hacklabalmeria.bitnamiapp.com/" title="Entrar al foro"><img src="{{ site.url }}/recursos/foro.png" title="Foro" alt="Foro" /></a>
    </div>
    <div class="ten columns offset-by-one">
        <h3>Participa</h3>
        <p>El hacklab se hace con la participación de la gente. Todas las personas entusiastas y con inquietudes estáis invitadas a aportar proyectos, recursos, información y formación.</p>
        <p>Encuentra en el foro un grupo de trabajo que te interese o créalo. Estamos deseando oir tus propuestas.</p>
        <p><a href="http://discourse.hacklabalmeria.bitnamiapp.com/" class="button" title="Entrar al foro">Entrar al foro</a></p>
    </div>
</div>
