---
layout: default
title: HackLab Almería
---
<div class="row">
    <div class="col-xs-12">
        <p class="center"><strong>HackLab Almería</strong> somos un colectivo de <strong>experimentación</strong> <strong>tecnológica</strong>, <strong>social</strong> y <strong>creativa</strong>.</p><br>
    </div>
</div>

<!-- INICIO PROBLEMAS FORO
<div class="row">
    <div class="col-xs-12">
        <hr/>
            <p class="center">
                <strong>
                    Por problemas técnicos transitorios, el foro permanecerá 
                    deshabilitado hasta nuevo aviso (esperamos que pronto).
                </strong>
            </p>
        <hr/>
    </div>
</div>
FIN PROBLEMAS FORO -->

<div class="row">
    <div class="col-md-4">

        <h3>Actividades</h3>
        <p>Estamos abiertos a colaborar con entidades que compartan las mismas inquietudes e invitamos a todas las personas entusiastas y activas a unirse a HackLab, aportando proyectos, recursos, información y formación.</p>
        <h5><strong>Próximas actividades</strong></h5>
        {% assign curDate = site.time | date: "%Y-%m-%d" %}
        <ul>
            {% for post in site.posts reversed %}
            {% assign date = post.date | date: "%Y-%m-%d" %}
            {% if date >= curDate %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        <p><a href="{{ site.url }}/actividades" class="button">Ver las actividades</a></p>
    </div>

    <div class="col-md-4">

        <h3>Hacklab Almería</h3>
        <p>Las áreas de interés son tantas como las personas, en el intercambio de opiniones, enfoques, y experiencias es donde salta la chispa que da lugar al aprendizaje, a la nueva visión del problema en estudio. Hacklab pretende seguir siendo el lugar perfecto donde experimentar y hacer realidad proyectos nuevos por medio de grupos de trabajo, poniendo en contacto a quienes tienen curiosidad en diferentes materias.</p>
        <p><a href="{{ site.url }}/gruposdetrabajo" class="button" title="Grupos de trabajo">Grupos de trabajo</a></p>
    </div>

    <div class="col-md-4">

        <h3>Participa</h3>
        <p>El intercambio y el debate permanecen y sirven como punto de partida para nuevos proyectos. Por eso gustamos de usar el foro como herramienta de comunicación y coordinacion on-line. Todas las personas entusiastas y con inquietudes estáis invitadas a aportar proyectos, recursos, información y formación.</p>
        <p><a href="https://foro.hacklabalmeria.net/" class="button" title="Entrar al foro">Entrar al foro</a></p>

    </div>
</div>




<script type="text/javascript">
    var discourseUrl = "https://foro.hacklabalmeria.net/"

    function readForoRss(e){
        $.ajax({url:'https://json2jsonp.com/?url='+discourseUrl+'latest.json',
            dataType: 'jsonp',
            success:function(data){
                data = data.topic_list.topics.slice(0, 10);

                var elemento='<ul>'
                $.each(data,function(index,element){
                    elemento += '<li><a target=_blank href='+discourseUrl + 't/'+ element.slug +'/'+element.id+'>'+element.title+'</a> - '+element.last_poster_username+'</li>';
                });

                elemento+='</ul>';
                $(e).html(elemento);
        }});
    }

    document.addEventListener('DOMContentLoaded', function(event) {
        setInterval(readForoRss('#ultimosmensajes'),30*1000);
    });


</script>
