<!DOCTYPE html>
<!-- hecho con Skeleton -->
<html lang="es">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <!-- Basic Page Needs
	================================================== -->
    <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.name }}</title>
    <meta name="description" content="">
    <!-- Diseño original de Manolo Ruiz @manoloruiz -->
    <meta name="author" content="Ismael Olea">
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>		<![endif]-->
    <!-- Mobile Specific Metas
	================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS
	================================================== -->
    <link rel="stylesheet" href="{{ site.url }}/css/base.css">
    <link rel="stylesheet" href="{{ site.url }}/css/skeleton.css">
    <link rel="stylesheet" href="{{ site.url }}/css/layout.css">
    <link rel="stylesheet" href="{{ site.url }}/css/docs.css">
    <link rel="stylesheet" href="{{ site.url }}/css/style.css">
    <!-- Favicon
	================================================== -->
    <link rel="shortcut icon" href="{{ site.url }}/css/favicon.ico">
  </head>
  <body>
    <div class="container">
      <div class="three columns sidebar">
        <nav>
          <ul>
            <li><a href="http://discourse.hacklabalmeria.bitnamiapp.com/">&raquo; Foro de trabajo</a></li>
            <li><a href="{{ site.url }}/calendario" >&raquo; Calendario</a></li>
            <li><a href="{{ site.url }}/eventos">&raquo; Eventos</a></li>
            <li><a href="{{ site.url }}/eventosespeciales">&raquo; Eventos especiales</a></li>
            <li><a href="{{ site.url }}/gruposdetrabajo">&raquo; Grupos de trabajo</a></li>
            <li><a href="{{ site.url }}/entidades">&raquo; Entidades colaboradoras</a></li>
            <li><a href="http://redmine.hacklabalmeria.net">&raquo; Redmine</a></li>
          </ul>
            
            <h3>Síguenos</h3>

            <p>
                <a href="https://es-es.facebook.com/HackLabAlmeria">
                <img src="{{ site.url }}/recursos/social-icons/facebook.png" alt="Facebook de HackLab Almería"></a>
                <a href="https://twitter.com/HackLabAl">
                <img src="{{ site.url }}/recursos/social-icons/twitter.png" alt="Twitter de HackLab Almería"></a>
                <a href="https://plus.google.com/+HacklabalmeriaNet" rel="publisher">
                <img src="{{ site.url }}/recursos/social-icons/google.png" alt="G+ de HackLab Almería"></a>
                <a href="https://github.com/HackLab-Almeria">
                <img src="{{ site.url }}/recursos/social-icons/github.png" alt="GitHub de HackLab Almería"></a>
            </nav>
            
            
          <!--<div class="logos">
            <br>
            <a href="">
              <img alt="#GenteQueHaceCosas" src="{{ site.url }}/recursos/GenteQueHaceCosas-160x40.png">
            </a>
          </div> -->
        </nav>
        </div>
      <div class="twelve columns offset-by-one content">
        <header>
          <h1>HackLab Almería</h1>
        </header>
        <section>
        {{ content }}
        </section>

          <hr>

      </div>
      <div id="logohacklab"><a href="http://hacklabalmeria.net/">
          <img   alt="logotipo del HackLab Almería" src="{{ site.url }}/recursos/logo-225x225.png"></a></div>
      <p> </p>
      <!-- content -->
      <!-- container -->
      <!-- JS
		================================================== -->

      <!-- Google Analytics -->
      <script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-33397759-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

		</script>
      <script type="text/javascript">
		var _gauges = _gauges || [];
		(function() {
			var t   = document.createElement('script');
			t.type  = 'text/javascript';
			t.async = true;
			t.id    = 'gauges-tracker';
			t.setAttribute('data-site-id', '4d806d7410cafd7fa4000011');
			t.src = '//secure.gaug.es/track.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(t, s);
		})();
		</script> </div>
  </body>
</html>