---
layout: default
---
<div class="container">
    <article>
        <h2>{{ page.title }}</h2>
        <br>
        <h4>{{ page.subtitle }}</h4>
        <hr class="large">
        {{ content }}
    </article>
    <hr class="large" />
    <div id="discourse-comments"></div>
</div>
<script type="text/javascript">
    var discourseUrl = "https://foro.hacklabalmeria.net/",
            discourseEmbedUrl = 'http://{{site.domain}}{{page.url}}';
    (function() {
        var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
        d.src = discourseUrl + 'javascripts/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
</script>